/* Navigation Bar Styling */

.topnav {
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.topnav li {
    float: left;
}

.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav li a:hover {
    color: #dddddd;
}

body {
    background-color: black;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.content {
    font-size: 2vw;
    margin-top: 10%;
}

.content p {
    font-size: 1.8vw;
}

.content a {
    color: white;
}

.content .subtext {
    font-size: 1.4vw;
}

.confetti-button {
    outline: none;
    border:none;
    cursor: pointer;
    width:100%;
    height: 100%;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: black;
    text-align: center;
    background: white;
    transition: 0.5s;
}
.confetti-button:hover {
    background: #e0e0e0;
}
.confetti-button:active {
    background:#1da88a;
}
.button-wrapper {
    position: relative;
    width:200px;
    height:60px;
}
.button-wrapper canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.frame-wrapper {
    position: relative;
    width:500px;
}

.module {
    width: 60vw;
}

.module h4 {
    font-weight: 500;
    line-height: 0px;
}

.module .project-attributes {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1.3vw;
}

.module .links a {
    display: inline-block;
    color: white;
    font-size: 1.2vw;
    text-decoration: underline;
}

.module .links a:hover {
    color: #dddddd;
}

.footernav {
    font-weight: bold;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

.footernav li {
    display: inline-block;
}

.footernav li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.footernav li a:hover {
    color: #dddddd;
}

footer {
    font-size: 15px;
}