/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* Navigation Bar Styling */
.topnav {
    font-weight: bold;
    list-style-type: none;
    overflow: hidden;
}

.topnav li {
    float: left;
}

.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav li a:hover {
    color: #dddddd;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #3E7CB6;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

body {
    background-color: #171C26;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Catamaran', sans-serif;
}

h1 {
    font-weight: 900;
    color: #3E7CB6;
}

.title {
    font-size: 85px;
}

.subtitle {
    font-size: 50px;
}

.content {
    margin-top: 10%;
}

a {
    color: white;
}

.module .project-attributes {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.module .links a {
    display: inline-block;
    color: white;
    text-decoration: underline;
}

a:hover {
    color: #dddddd;
}

.footernav {
    font-weight: bold;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

.footernav li {
    display: inline-block;
}

.footernav li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.footernav li a:hover {
    color: #dddddd;
}

footer {
    font-size: 15px;
}

#projects {
    scroll-behavior: smooth;
}

.code {
    font-family: 'JetBrains Mono', monospace;
}